<a href="https://colab.research.google.com/github/Anirudh1905/Data_Analytics/blob/master/Chi1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [12]:
acad=pd.read_excel('/content/drive/My Drive/Colab Notebooks/acad.xlsx')
acad[:10]

   Rsp No  aa  pe  sm  ae  r  g  c
0       1  99  19   1   2  0  0  1
1       2  46  12   0   0  0  0  0
2       3  57  15   1   1  0  0  0
3       4  94  18   2   2  1  1  1
4       5  82  13   2   1  1  1  1
5       6  59  12   0   0  2  0  0
6       7  61  12   1   2  0  0  0
7       8  29   9   0   0  1  1  0
8       9  36  13   1   1  0  0  0
9      10  91  16   2   2  1  1  0

In [5]:
obs=pd.pivot_table(acad[['g','sm']],index='g',columns='sm',aggfunc=len)
obs

sm   0   1  2
g
0   10  13  6
1    4   9  8

In [7]:
from scipy.stats import chi2_contingency
chi2,p,dof,tbl=chi2_contingency(obs)
chi2

2.3649585225939904

In [8]:
p

0.3065178579178871

In [9]:
dof

2

In [10]:
tbl

array([[ 8.12, 12.76,  8.12],
       [ 5.88,  9.24,  5.88]])