<a href="https://colab.research.google.com/github/Anirudh1905/Data_Analytics/blob/master/Clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from scipy.spatial import distance_matrix

In [62]:
df=pd.read_excel('/content/drive/My Drive/Colab Notebooks/distance.xlsx')
df.set_index(['Person'],inplace=True)
df

        Weight(Kg)  Height(cm)
Person
A               15          95
B               49         156
C               13          95
D               45         160
E               85         178
F               66         176
G               12          90
H               10          78

In [63]:
Distance_matrix=pd.DataFrame(distance_matrix(df.values,df.values),index=df.index,columns=df.index)
Distance_matrix

Person           A          B           C  ...           F           G           H
Person                                     ...
A         0.000000  69.835521    2.000000  ...   95.718337    5.830952   17.720045
B        69.835521   0.000000   70.830784  ...   26.248809   75.663730   87.206651
C         2.000000  70.830784    0.000000  ...   96.798760    5.099020   17.262677
D        71.589105   5.656854   72.449983  ...   26.400758   77.388630   89.157165
E       108.577162  42.190046  109.877204  ...   19.104973  114.337221  125.000000
F        95.718337  26.248809   96.798760  ...    0.000000  101.548018  112.871608
G         5.830952  75.663730    5.099020  ...  101.548018    0.000000   12.165525
H        17.720045  87.206651   17.262677  ...  112.871608   12.165525    0.000000

[8 rows x 8 columns]

In [64]:
Distance_matrix.round(decimals=1)

Person      A     B      C     D      E      F      G      H
Person
A         0.0  69.8    2.0  71.6  108.6   95.7    5.8   17.7
B        69.8   0.0   70.8   5.7   42.2   26.2   75.7   87.2
C         2.0  70.8    0.0  72.4  109.9   96.8    5.1   17.3
D        71.6   5.7   72.4   0.0   43.9   26.4   77.4   89.2
E       108.6  42.2  109.9  43.9    0.0   19.1  114.3  125.0
F        95.7  26.2   96.8  26.4   19.1    0.0  101.5  112.9
G         5.8  75.7    5.1  77.4  114.3  101.5    0.0   12.2
H        17.7  87.2   17.3  89.2  125.0  112.9   12.2    0.0

In [66]:
import numpy as np
from scipy.spatial import distance
a=[1,2,3]
b=[4,5,6]
d=distance.euclidean(a,b)
d

5.196152422706632

In [67]:
distance.minkowski(a,b,1) #Manhattan

9.0

In [68]:
distance.minkowski(a,b,2) #Euclidean

5.196152422706632

In [69]:
distance.minkowski(a,b,3)

4.3267487109222245

In [70]:
data=[[1,4],[2,5],[3,6]]
df=pd.DataFrame(data,columns=['a','b'])
df

   a  b
0  1  4
1  2  5
2  3  6

In [71]:
pd.DataFrame(distance_matrix(df.values,df.values))

          0         1         2
0  0.000000  1.414214  2.828427
1  1.414214  0.000000  1.414214
2  2.828427  1.414214  0.000000